



@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

@layer base {
  body {
    font-family: "DM Sans", sans-serif;
    font-size: var(--fs-md);
    line-height: var(--lh-normal);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  main {
    width: 100%;
    height: 100svh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  h1,
  h2 {
    color: var(--heading-fc, inherit);
    font-weight: var(--heading-fw, 500);
    font-size: var(--heading-fs);
    margin-bottom: var(--heading-mb);
    line-height: var(--lh-tight);
    text-wrap: balance;
  }

  span {
    display: var(--span-display, inline);
    color: var(--span-fc, var(--black));
    font-size: var(--span-fs, inherit);
    font-style: var(--span-style, normal);
  }

  p {
    color: var(--p-fc, inherit);
    font-size: var(--p-fs, var(--fs-sm));
    line-height: var(--p-lh, var(--lh-normal));
    margin-bottom: var(--p-mb);
  }
}
