@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xs);
    line-height: var(--lh-normal);
    color: var(--gray-400);
    background-color: var(--color-bg);
  }

  h1,
  h2,
  h3 {
    color: var(--heading-fc, var(--gray-500));
    font-weight: var(--heading-fw, 200);
    font-size: var(--heading-fs);
    margin-bottom: var(--heading-mb);
    line-height: var(--lh-tight);
    text-wrap: balance;
  }

  span {
    display: var(--span-display, inline);
    color: var(--span-fc);
    font-size: var(--span-fs, inherit);
    font-weight: var(--span-fw, 600);
    font-style: var(--span-style, normal);
  }

  p {
    color: var(--p-fc);
    font-size: var(--p-fs);
    line-height: var(--p-lh);
    margin-bottom: var(--p-mb);
  }
}

@layer layout {
  .page {
    padding: var(--page-pd, var(--space-2xl));
    text-align: center;

    display: grid;
    place-items: center;
    gap: var(--space-2xl);

    @media (width < 600px) {
      --page-pd: var(--space-lg);
    }
  }

  .header {
    --heading-fs: var(--fs-2xl);
    --header-lh: var(--lh-relaxed);
    --heading-mb: var(--space-lg);
    --p-fs: var(--fs-sm);

    p {
      max-width: 55rem;
    }
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: var(--space-md);

    @media (width < 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
    }
  }

  .main section {
    max-width: 35rem;
    background-color: var(--color-card-bg, var(--white));
    padding: var(--sect-pd, var(--space-lg));
    border-radius: var(--sect-radius, var(--radius-md));
    border-top: 4px solid var(--sect-border-color);
    box-shadow: 0px 10px 10px rgba(55, 0, 255, 0.2);
    text-align: left;

    img {
      margin-left: auto;
    }
  }

  .main > *:nth-child(1) {
    --sect-border-color: var(--color-cyan);
    --heading-fs: var(--fs-md);
    --heading-fw: var(--fw-semibold);
    --heading-mb: var(--space-sm);
    --p-mb: var(--space-md);

    grid-column: 1 / 2;
    grid-row: 2 / 4;

    @media (width < 600px) {
      grid-column: 1 / 2;
      grid-row: auto;
    }
  }

  .main > *:nth-child(2) {
    --sect-border-color: var(--color-red);
    --heading-fs: var(--fs-md);
    --heading-fw: var(--fw-semibold);
    --heading-mb: var(--space-sm);
    --p-mb: var(--space-md);

    grid-column: 2 / 3;
    grid-row: 1 / 3;

    @media (width < 600px) {
      grid-column: 1 / 2;
      grid-row: auto;
    }

  }

  .main > *:nth-child(3) {
    --sect-border-color: var(--color-orange);
    --heading-fs: var(--fs-md);
    --heading-fw: var(--fw-semibold);
    --heading-mb: var(--space-sm);
    --p-mb: var(--space-md);

    grid-column: 2 / 3;
    grid-row: 3 / 5;

    @media (width < 600px) {
      grid-column: 1 / 2;
      grid-row: auto;
    }
  }

  .main > *:nth-child(4) {
    --sect-border-color: var(--color-blue);
    --heading-fs: var(--fs-md);
    --heading-fw: var(--fw-semibold);
    --heading-mb: var(--space-sm);
    --p-mb: var(--space-md);

    grid-column: 3 / 4;
    grid-row: 2 / 4;

    @media (width < 600px) {
      grid-column: 1 / 2;
      grid-row: auto;
    }
  }
}
